<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
<!-- <configuration debug="true" scan="true" scanPeriod="30 minutes">  -->

    <springProfile name="default">
		<appender name="CONSOLE-APPENDER" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<!-- <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}:[%magenta(%X{correlationId})][%thread][%cyan(%-40logger{40})][logseveritylevel=%-5level]:%msg%n</Pattern> -->
				<Pattern>[%d{HH:mm:ss.SSS}]:[%cyan(%-20logger{20})][logseveritylevel=%-5level]:%msg %n</Pattern>
			</encoder>
		</appender>
        <logger name="com.telus.credit" level="info" additivity="false">
            <appender-ref ref="CONSOLE-APPENDER"/>
        </logger>
        <logger name="org.springframework" level="info" additivity="false">
            <appender-ref ref="CONSOLE-APPENDER"/>
        </logger>

        <root level="error">
            <appender-ref ref="CONSOLE-APPENDER"/>
        </root>
    </springProfile>


</configuration>